# Carpeta raíz específica
/5_proyecto_final/

# Mac
.DS_Store

# IDEs
.vscode/
.settings/
*.iml
.idea/

# Compilados
bin/
out/
*.class

# Logs
*.log

# Dependencias (si usas Maven/Gradle no hace falta)
target/

# Otros
class.txt